<div class="col-xl-3 col-lg-4 col-md-6">
  <div class="card profile-card">
    <div class="card-container">
      <div class="card-img-block">
        <div class="card-img-square">
          <img class="card-img-top" src="/img/profilePictures/<%= user.pathToProfilePicture %>"
            alt="Photo de profil de '<%= user.firstName %> <%= user.lastName %>'">
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= user.firstName %> <%= user.lastName %></h5>
        <p class="card-text"><%= user.biography %></p>
        <a href="/users/search/<%= user.username %>" class="btn">Voir le profil <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>