<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scope - <%= user.username %></title>
  <link rel="icon" href="/img/items/favicon.png" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/javascript/script.js"></script>


</head>

<body>

  <nav class="navbar navbar-expand-lg position-static px-5">
    <a class="navbar-brand" href="/"><img src="/img/items/scopeBlack.svg" alt="Logo de Scope" width="145"
        class="d-inline-block align-middle mr-2"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mr-auto leftPart">
        <li class="nav-item active">
          <a class="nav-link" href="/users/all/etudiants">Etudiants <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/all/professionnels">Professionnels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/premium/">Premium</a>
        </li>
      </ul>
      <form class="form-inline">
        <ul class="navbar-nav mr-auto rightPart">

          <!-- Uniquement quand le user est connecté -->
          <!-- <li class="nav-item">
              <a class="nav-link" href="/users/myProfile/">Mon profil</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link pr-4" href="/users/login/">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/inscription/">Inscription</a>
          </li>
        </ul>
      </form>
    </div>
  </nav>
  <div class="row" style="margin:0">
    <% if (user) { %>
    <div class="card personnal-profile-card">
      <div class="card-top-container">
        <div class="row">
          <div class="card-img-block">
            <img class="card-img-top" src="/img/profilePictures/<%= user.pathToProfilePicture %>"
              alt="Photo de profil de '<%= user.firstName %> <%= user.lastName %>'">
          </div>
          <div class="card-body pt-0">
            <h5 class="card-title"><%= user.firstName %> <%= user.lastName %></h5>
            <h6><i class="fas fa-briefcase"></i> <%= user.job %></h6>
            <h6><i class="fas fa-birthday-cake"></i> <%= user.age %> ans</h6>
            <h6><i class="fas fa-map-marker-alt"></i> Paris 75000, France</h6>
          </div>
        </div>
      </div>
      <div class="card-bot-container">
        <p class="card-text"><%= user.biography %></p>
        <a href="/users/search/<%= user.username %>" class="btn">Contacter <%= user.firstName %> <i
            class="fas fa-arrow-right"></i></a>
      </div>
    </div>



    <% } %>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>